<config name="se">
	<database>
		<oridb name="original.db"/>
		<indexdb name="index.db"/>
		<mergedb>1</mergedb>
	</database>
	<spider name="sc">
		<spider_num>2</spider_num>
		<page_limit>10</page_limit>
		<start_url>http://en.wikipedia.org/wiki/Programming_languages</start_url>
		<headers>
			<User-Agent>Mozilla/4.0 (compatible; MSIE 5.5; Windows NT)</User-Agent>
			<Accept-encoding>gzip</Accept-encoding>
		</headers>
	</spider>
	<rank>
		<rankers>
			<content>1.5</content>
			<page>0.5</page>
		</rankers>
		<sort>1</sort>
	</rank>
	<file>
		<errfile name="error.log"/>
	</file>
</config>